.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #599676;
  font-size: calc(5px + 2vmin);
  color: white;
  padding: 10px;
}

.form {
  margin-block: 20px;
  display: flex;
  flex-direction: column;
  width: 37%
}

.schema-field {
  align-items: center;
  display: flex;
  flex-direction: column;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
